<form [formGroup]="filterForm" fxLayout="{{ layout==='vertical' ? 'column' : 'row' }}" fxLayoutAlign="start center"
  fxLayoutGap="25px" class="form-{{layout}}">

  <div *ngIf="canShow('needs')">
    <app-needs-editor #filterByNeeds (needsUpdated)="needsEditor_onNeedsUpdated($event)" [canAdd]="false"
      [canSuggest]="false"></app-needs-editor>
  </div>

  <div *ngIf="canShow('medical_unit_type_id')" fxLayout="row" fxLayoutAlign="start center">
    <div class="medical_unit_type">
      <mat-form-field style="width: 100%;">
        <mat-label>Tip unitate medicală</mat-label>
        <mat-select multiple placeholder="Alege tip" formControlName="medical_unit_type_id">
          <mat-option *ngFor="let s of dataService.metadata.medical_unit_types" [value]="s.id">{{ s.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="40px">
      <button color="primary" mat-button mat-icon-button (click)="onClearFilter('medical_unit_type_id')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="canShow('county')" fxLayout="row" fxLayoutAlign="start center">
    <div class="county">
      <mat-form-field style="width: 100%;">
        <mat-label>Județ</mat-label>
        <mat-select multiple placeholder="Alege județ" formControlName="county">
          <mat-option *ngFor="let s of dataService.metadata.counties" [value]="s.id">{{ s.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="40px">
      <button color="primary" mat-button mat-icon-button (click)="onClearFilter('county')">
        <mat-icon>close</mat-icon>
      </button></div>
  </div>

  <div *ngIf="canShow('status')" fxLayout="row" fxLayoutAlign="start center">
    <div class="status">
      <mat-form-field style="width: 100%;">
        <mat-label>Status</mat-label>
        <mat-select multiple placeholder="Alege status" formControlName="status">
          <mat-option *ngFor="let s of statusOptions" [value]="s.slug">{{ s.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="40px">
      <button color="primary" mat-button mat-icon-button (click)="onClearFilter('status')">
        <mat-icon>close</mat-icon>
      </button></div>
  </div>

  <div *ngIf="canShow('keyword')" fxLayout="row" fxLayoutAlign="start center">
    <div class="keyword">
      <mat-form-field style="width: 100%;">
        <mat-label>Keyword sau ID</mat-label>
        <input matInput type="text" placeholder="ID, Nume spital, persoană sau telefon" formControlName="keyword" />
      </mat-form-field>
    </div>
    <div fxFlex="40px">
      <button color="primary" mat-button mat-icon-button (click)="onClearFilter('keyword')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

</form>
