<form [formGroup]="filterForm" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

  <div *ngIf="canShow('medical_unit_type_id')">
  <mat-form-field>
    <mat-label>Tip unitate medicală</mat-label>
    <mat-select placeholder="Alege tip" formControlName="medical_unit_type_id">
      <mat-option *ngFor="let s of dataService.metadata.medical_unit_types" [value]="s.id">{{ s.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button color="primary" mat-button mat-icon-button (click)="onClearFilter('medical_unit_type_id')">
    <mat-icon>close</mat-icon>
  </button>
  </div>

  <div *ngIf="canShow('county')">
    <mat-form-field>
      <mat-label>Județ</mat-label>
      <mat-select multiple placeholder="Alege județ" formControlName="county">
        <mat-option *ngFor="let s of dataService.metadata.counties" [value]="s.id">{{ s.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-button mat-icon-button (click)="onClearFilter('county')">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div *ngIf="canShow('status')">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select multiple placeholder="Alege status" formControlName="status">
        <mat-option *ngFor="let s of statusOptions" [value]="s.slug">{{ s.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-button mat-icon-button (click)="onClearFilter('status')">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div *ngIf="canShow('keyword')">
    <mat-form-field>
      <mat-label>Keyword sau ID</mat-label>
      <input matInput type="text" placeholder="ID, Nume spital, persoană sau telefon" formControlName="keyword" />
    </mat-form-field>
    <button color="primary" mat-button mat-icon-button (click)="onClearFilter('keyword')">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</form>