<div class="tab-content">

  <form *ngIf="showChangeForm" [formGroup]="changeForm">
    <h2>Actualizează nevoi</h2>

    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">

      <div fxFlex="50%" formArrayName="needsToAdd">
        <h3>De adăugat</h3>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"
          *ngFor="let n of getAsFormArray('needsToAdd').controls; let i=index" [formGroupName]="i">
          <mat-form-field fxFlex="40%" appearance="outline">
            <mat-select placeholder="Type" formControlName="need_type_id">
              <mat-option *ngFor="let k of dataService.metadata['need_types']" [value]="k.id">{{ k.label }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="20%" appearance="outline">
            <mat-label>Cantitate</mat-label>
            <input matInput formControlName="quantity" type="text" class="form-control" class="form-control-plaintext">
          </mat-form-field>
          <div fxFlex="20%">
            <button mat-button type="button" (click)="onRemoveNeed('add',i)">DELETE</button>
          </div>
        </div>
        <button mat-button (click)="onAddNeed('add')">+</button>
      </div>

      <div fxFlex="50%" formArrayName="needsToSubstract">
        <h3>De scos</h3>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"
          *ngFor="let n of getAsFormArray('needsToSubstract').controls; let i=index" [formGroupName]="i">
          <mat-form-field fxFlex="40%" appearance="outline">
            <mat-select placeholder="Type" formControlName="need_type_id">
              <mat-option *ngFor="let k of dataService.metadata['need_types']" [value]="k.id">{{ k.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="20%" appearance="outline">
            <mat-label>Cantitate</mat-label>
            <input matInput formControlName="quantity" type="text" class="form-control" class="form-control-plaintext">
          </mat-form-field>
          <div fxFlex="20%">
            <button mat-button type="button" (click)="onRemoveNeed('substract',i)">DELETE</button>
          </div>
        </div>
        <button mat-button (click)="onAddNeed('substract')">+</button>
      </div>
    </div>

    <button mat-flat-button color="primary" (click)="onSubmit()">Salvează</button>

  </form>

  <div *ngIf="!showChangeForm">
    <div style="text-align: center; padding-bottom: 20px;">
      <button mat-flat-button color="primary" (click)="onUpdateNeeds()">Actualizează
        nevoi</button>
    </div>
  </div>
  <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid rgba(0,0,0,.12) ">
    <h2>Istoric</h2>
    <mat-card *ngFor="let change of sessionData.currentRequest.changes">
      <mat-card-subtitle><strong>{{ dataService.getMetadataLabel('change_types',change.change_type_id) }}</strong>
        {{ change.created_at | date }}</mat-card-subtitle>
      <mat-card-content>
        <div class="change-need-row" *ngFor="let n of change.needs" fxLayout="row" fxLayoutAlign="space-between start"
          fxLayoutGap="5px">
          <div>{{ dataService.getMetadataLabel('need_types', n.need_type_id) }}</div>
          <div class="bottom-dots" fxFlex>&nbsp;</div>
          <div>{{ n.quantity }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
