<div class="button-container">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner diameter="24"></mat-spinner>
  </div>

  <ng-template #buttonContentTemplate>
    {{ label }}
    <mat-icon *ngIf="icon!=''" [ngClass]="{'showOnHover': showIcon==='hover'}">{{icon}}</mat-icon>
  </ng-template>

  <ng-container [ngSwitch]="btnStyle">
    <button mat-flat-button *ngSwitchCase="'flat'" [type]="type" [color]="color" [disabled]="loading" (click)="onClick()">
        <ng-container *ngTemplateOutlet="buttonContentTemplate"></ng-container>
    </button>
    <button mat-stroked-button *ngSwitchCase="'stroked'" [type]="type" [color]="color" [disabled]="loading" (click)="onClick()">
        <ng-container *ngTemplateOutlet="buttonContentTemplate"></ng-container>
    </button>
    <button mat-button *ngSwitchDefault [type]="type" [color]="color" [disabled]="loading" (click)="onClick()">
        <ng-container *ngTemplateOutlet="buttonContentTemplate"></ng-container>
    </button>
  </ng-container>
</div>
