<h1 mat-dialog-title>Detalii livrare</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <div class="horizontal-section">
      <h2>Cantități</h2>
      <app-needs-shortlist [header]="true" [needs]="null" [showDeliveryQuantities]="true"></app-needs-shortlist>
      <div formArrayName="needs">
        <div class="needs-item" *ngFor="let n of getAsFormArray('needs').controls; let i=index" [formGroupName]="i">
          <div class="label">
            <div>{{ getLabel(n.get('need_type_id').value) }}</div>
          </div>
          <div class="spacer"></div>
          <div class="fixed">
            <div class="spacer"></div>
            <div class="number">{{ n.get('quantity').value | number : '1.0-0'}}</div>
          </div>
          <div class="fixed">
            <div class="spacer"></div>
            <div class="number">
              <input style="width: 70px;" type="text" formControlName="delivery_quantity" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="horizontal-section">
      <h2>Colete</h2>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <mat-form-field style="width: 30%;" appearance="outline">
          <mat-label>Colete</mat-label>
          <input required matInput formControlName="packages" type="text" />
        </mat-form-field>
        <mat-form-field style="width: 30%;" appearance="outline">
          <mat-label>Dimensiuni</mat-label>
          <input required matInput formControlName="size" type="text" />
        </mat-form-field>
        <mat-form-field style="width: 30%;" appearance="outline">
          <mat-label>Greutate (kg)</mat-label>
          <input required matInput formControlName="weight" type="text" />
        </mat-form-field>
      </div>
    </div>

    <div class="horizontal-section">
      <h2>Destinatar</h2>

      <h3 style="padding: 0;">Spital de stat?</h3>
      <app-medical-unit-input-search [countyId]="editForm.get('destination_county_id').value"
        (selected)="onMedicalUnitSelect($event)" [inputControl]="editForm.get('medical_unit')">
      </app-medical-unit-input-search>

      <div>
        <mat-form-field fxFlex="100%" appearance="outline">
          <mat-label>Adresă</mat-label>
          <input required matInput formControlName="destination_address" type="text" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <mat-form-field style="width: 50%;" appearance="outline">
          <mat-label>Județ</mat-label>
          <mat-select required placeholder="Alege" formControlName="destination_county_id">
            <mat-option *ngFor="let t of counties" [value]="t.id">{{ t.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 50%;" appearance="outline">
          <mat-label>Oraș</mat-label>
          <input required matInput formControlName="destination_city_name" type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <mat-form-field fxFlex="50%" appearance="outline">
          <mat-label>Telefon persoană contact</mat-label>
          <input required matInput formControlName="destination_phone_number" type="text" />
          <mat-error *ngIf="editForm.get('destination_phone_number').errors">{{ AppConstants.phone_number_error }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50%" appearance="outline">
          <mat-label>Nume persoană contact</mat-label>
          <input required matInput formControlName="destination_contact_name" type="text" />
        </mat-form-field>
      </div>
      <!-- <div class="horizontal-section">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <app-sponsor-autocomplete (selected)="setMainSponsor($event)" label="Sponsor produse"
            [inputControl]="editForm.get('main_sponsor')">
          </app-sponsor-autocomplete>
          <app-sponsor-autocomplete (selected)="setDeliverySponsor($event)" label="Sponsor livrare"
            [inputControl]="editForm.get('delivery_sponsor')">
          </app-sponsor-autocomplete>
        </div>
    </div> -->
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="onDismiss()">Anulează</button>
  <button mat-flat-button color="primary" (click)="onSave()" cdkFocusInitial>Salvează</button>
</div>
