<form [formGroup]="editForm" (submit)="onSubmit()">

  <h2>Date solicitant</h2>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Name</mat-label>
      <input required matInput formControlName="name" type="text" class="form-control" aria-describedby="name" placeholder=""
        class="form-control-plaintext">
    </mat-form-field>

    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Funcție</mat-label>
      <input required matInput formControlName="job_title" type="text" class="form-control" aria-describedby="jobTitle"
        placeholder="" class="form-control-plaintext">
    </mat-form-field>

    <mat-form-field matPrefix="+40-" style="width: 100%;" appearance="outline">
      <mat-label>Phone number</mat-label>
      <input required matInput formControlName="phone_number" type="text" class="form-control"
        aria-describedby="phoneNumber"
        placeholder="" class="form-control-plaintext">
        <mat-error *ngIf="editForm.get('phone_number').errors">{{ AppConstants.phone_number_error }}</mat-error>
    </mat-form-field>
  </div>

  <h2>Unitate medicală</h2>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <mat-form-field style="width: 50%;" appearance="outline">
      <mat-label>Medical Unit Name</mat-label>
      <input required matInput formControlName="medical_unit_name" type="text" class="form-control"
        aria-describedby="medicalUnitName" placeholder="" class="form-control-plaintext">
    </mat-form-field>

    <mat-form-field style="width: 30%;" appearance="outline">
      <mat-label>Medical Unit Type</mat-label>
      <mat-select required placeholder="Medical unit type" formControlName="medical_unit_type_id">
        <mat-option *ngFor="let t of dataService.metadata['medical_unit_types']" [value]="t.id">{{ t.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field style="width: 20%;" appearance="outline">
      <mat-label>Județ</mat-label>
      <mat-select required placeholder="Alege" formControlName="county_id">
        <mat-option *ngFor="let t of dataService.metadata['counties']" [value]="t.id">{{ t.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <app-medical-unit-input-search [countyId]="editForm.get('county_id').value" [inputControl]="editForm.get('medical_unit')" label="Spital de stat" (selected)="onChangeMedicalUnit($event)">
    </app-medical-unit-input-search>
  </div>

  <h2>Tipul și motivul actualizării</h2>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
    <mat-form-field fxFlex="30%" appearance="outline">
      <mat-label>Tip actualizare</mat-label>
      <mat-select required placeholder="Alege" formControlName="change_type_id">
        <mat-option *ngFor="let k of changeTypes" [value]="k.id">{{ k.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="70%" appearance="outline">
      <mat-label>Detalii</mat-label>
      <input matInput formControlName="user_comment" type="text" class="form-control"
        class="form-control-plaintext">
    </mat-form-field>
  </div>

  <app-loading-button type="submit" [loading]="formLoading" btnStyle="flat" color="primary" (btnClick)="onSubmit()" label="Salvează"></app-loading-button>

</form>
