.drop-list {
  min-height: 10px;
  min-width: 10px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.item {
    cursor: grab;
}

.item.selected {
    background-color: rgba(144, 171, 200, 0.5);
}   

.item-dragging.item.selected:not(.cdk-drag-placeholder) {
    opacity: 0.1;
    box-shadow: 3px 6px 3px -1px rgba(0, 0, 0, 0.48);
}

.select-item-drag-preview {
  background-color: #FFF;
  font-weight: bold;
  border: 2px solid #666;
  border-radius: 6px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  padding: 0px 10px;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}