:host ::ng-deep .drop-list {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.row.header {
  border: 1px solid rgba(0, 0, 0, 0.07);
  font-weight: bold;
  background: #F1F1F1;
  position: sticky;
  top: 0;
}

.row.header>div>mat-icon {
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
  line-height: 16px !important;
  vertical-align: middle;
}

:host ::ng-deep .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

:host ::ng-deep .item.selected .row {
  background-color: #929292 !important;
}

.row>div {
  overflow: hidden;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.column:last-child {
  border-right: 0 !important;
}

.column:first-child {
  border-left: 0 !important;
}

.column-id {
  text-align: right;
  width: 30px;
  max-width: 30px;
  min-width: 30px;
}

.column-medical-unit {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}

.column-medical-unit-type {
  width: 200px;
max-width: 200px;
min-width: 200px;
}

.column-county {
  width: 100px;
max-width: 100px;
min-width: 100px;
}

.column-needs {
  flex-grow: 1;
}

.column-name {
  width: 150px;
max-width: 150px;
min-width: 150px;
}

.column-phone-number {
  width: 100px;
max-width: 100px;
min-width: 100px;
}

.secondary-row {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9em;
}