<mat-toolbar color="primary" fxLayout="row">
    <span class="title">AjutorSpitale</span>
    <span fxFlex></span>
    <span class="links">
        <a mat-button routerLink="/admin/requests/all">Cereri</a>
        <a mat-button routerLink="/admin/deliveries">Livrări</a> 
        <a *ngIf="hasAccess('admin')" mat-button routerLink="/admin/metadata">Metadata</a>
        <a *ngIf="hasAccess('admin')" mat-button routerLink="/admin/users">Utilizatori</a>
        <a mat-button routerLink="/new-request">Adaugă cerere</a>

        <ng-container *ngIf="currentUser">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <div mat-menu-item><strong>{{ currentUser.name }}</strong> {{currentUser.role.slug}}</div>
                <button mat-menu-item (click)="onLogout()">Logout</button>
            </mat-menu>
        </ng-container>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>