<mat-toolbar color="primary" fxLayout="row">
    <img src="assets/icons/favicon-32x32.png" style="padding-right: 10px;" />
    <span class="title">AjutorSpitale</span>
    <span fxFlex></span>
    <span class="links">
        <a *ngIf="hasAccess('requests.list')" mat-button routerLink="/admin/requests/all">Cereri</a>
        <a *ngIf="hasAccess('offers.list')" mat-button routerLink="/admin/offers/all">Oferte</a>
        <a *ngIf="hasAccess('deliveries.list')" mat-button routerLink="/admin/deliveries/all">Livrări</a>
        <a *ngIf="hasAccess('metadata.edit')" mat-button routerLink="/admin/metadata">Metadata</a>
        <a *ngIf="hasAccess('users.list')" mat-button routerLink="/admin/users">Utilizatori</a>
        <a *ngIf="hasAccess('exports')" mat-button routerLink="/admin/reports">Exports</a>
        <a mat-button target="_blank" routerLink="/new-request">Adaugă cerere</a>
        <a mat-button target="_blank" routerLink="/new-offer">Adaugă ofertă</a>

        <ng-container *ngIf="currentUser">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <div mat-menu-item><strong>{{ currentUser.name }}</strong> {{currentUser.role.slug}}</div>
                <button mat-menu-item (click)="onLogout()">Logout</button>
            </mat-menu>
        </ng-container>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>