<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/admin/offers/unassigned']" queryParamsHandling="merge" routerLinkActive
    #rla="routerLinkActive" [active]="flag==='unassigned'">
    Oferte neasignate
  </a>
  <a mat-tab-link [routerLink]="['/admin/offers/mine']" queryParamsHandling="merge" routerLinkActive
    #rla="routerLinkActive" [active]="flag==='mine'">
    Ofertele mele
  </a>
  <a mat-tab-link [routerLink]="['/admin/offers/all']" queryParamsHandling="merge" routerLinkActive
    #rla="routerLinkActive" [active]="flag==='all'">
    Oferte nerespinse
  </a>
</nav>

<div class="page-content centered">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
    <div>
      <h1 fxGrow>
        <span *ngIf="flag=='unassigned'">Oferte neasignate</span>
        <span *ngIf="flag=='mine'">Ofertele mele</span>
        <span *ngIf="flag=='all'">Toate ofertele</span>
        <span *ngIf="offersLoaded"> ({{ paging.total }})</span>
      </h1>
    </div>
    <div class="list-flags" fxFlex style="padding-left: 30px;">
      <span *ngIf="flag==='unassigned'">
        <app-loading-button [loading]="!offersLoaded" btnStyle="stroked" (btnClick)="onMassAssign(25)"
          label="Preia 25"></app-loading-button>&nbsp;
        <app-loading-button [loading]="!offersLoaded" btnStyle="stroked" (btnClick)="onMassAssign(25)"
          label="Preia 50"></app-loading-button>
        &nbsp;
      </span>
    </div>
  </div>

  <div style="margin-bottom: 30px;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
    <app-offers-filter-form></app-offers-filter-form>
    <mat-paginator [showFirstLastButtons]="true" [hidePageSize]="true" (page)="onPageChange($event)" [length]="paging.total"
      [pageSize]="paging.per_page" [pageIndex]="paging.current-1">
    </mat-paginator>
  </div>


  <app-loading-status [loaded]="offersLoaded"></app-loading-status>

  <div fxLayout="column" fxLayoutGap="20px">
    <mat-card class="offer-item" *ngFor="let offer of offers">
      <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
        <div class="item-title">
          <span class="title">oferta #{{ offer.id }}</span>
          <span class="date">{{ offer.created_at | date : 'short' }}</span>
        </div>
        <div>
          <app-loading-button labelPrefix="Status: " btnStyle="stroked" [loading]="statusChanging===offer.id"
            [matMenuTriggerFor]="statusChange"
            [label]="dataService.getMetadataLabel('offer_status_types', offer.status)">
          </app-loading-button>
          <mat-menu #statusChange="matMenu" xPosition="before">
            <button (click)="onChangeOfferStatus(offer.id, k.id)"
              *ngFor="let k of dataService.metadata['offer_status_types']" mat-menu-item>{{ k.label }}</button>
          </mat-menu>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
          <ng-container *ngIf="offer.assigned_user">
            <app-loading-button btnStyle="stroked" [loading]="assignChanging===offer.id"
              (click)="onUnassign(offer.id)" labelPrefix="Preluat de: " [label]="offer.assigned_user.name"
              icon="close" showIcon="hover"></app-loading-button>
          </ng-container>
          <app-loading-button [loading]="assignChanging===offer.id"
            *ngIf="offer?.assigned_user?.id!==authService.currentUserValue.id" btnStyle="stroked" color="primary"
            (click)="onAssign(offer.id)" label="Preiau eu"></app-loading-button>
        </div>
        <div>
          <a mat-stroked-button color="primary" [routerLink]="['/', 'admin', 'offer', offer.id]">edit</a>
        </div>
        <div>
          <a mat-stroked-button color="primary" [routerLink]="['/', 'admin', 'delivery-plan', 'new', offer.id]">planifică livrări</a>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="45px">
          <div class="offer-item-section" fxFlex="20%">
            <h3>Persoana</h3>
            <p>
              <strong>Nume: </strong>{{ offer.name }}<br />
              <strong>Funcție: </strong>{{ offer.job_title }}<br />
              <strong>Organizație: </strong>{{ offer.organization_name }}<br />
              <strong>Telefon: </strong>{{ offer.phone_number }}<br />
            </p>
          </div>
          <div class="offer-item-section" fxFlex="30%">
            <h3>Unde vrea / poate să ajute</h3>
            <p>
              <strong>Unitate medicală: </strong>{{ offer?.medical_unit?.name || offer.medical_unit_name || 'nu a menționat' }}<br />
              <strong>Județe: </strong>{{ dataService.getMetadataLabelsCombined('counties', offer.counties) }}
            </p>
          </div>
          <div class="offer-item-section no-border" fxFlex>
            <h3>Produse/servicii</h3>
            <p><strong>Procesate: </strong>
              <br />
              <ng-container *ngFor="let p of offer.current_needs">
              {{ p.quantity | number : '1.0-0' }} x {{ dataService.getMetadataLabel('need_types', p.need_type_id) }}
              <br />
              </ng-container>
            </p>
            <ng-container *ngIf="offer?.needs_text?.length>0">
              <p><strong>Alte produse: </strong>
                <br />
                {{ offer?.needs_text }}
              </p>
            </ng-container>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
