
<div class="request-list">
    <div class="request" *ngFor="let request of requests">
        {{ request.name }}<br />
        {{ request.phone_number }}<br />
        {{ request.medical_unit_name }}<br />
        {{ request.medical_unit_id }}<br />
        {{ dataService.getMetadataLabel('medical_unit_type', request.medical_unit_type_id) }}
        <div *ngFor="let need of request.needs">
            Need: {{ dataService.getMetadataLabel('need', need.need_id) }}, Quantity: {{ need.quantity }}
        </div>
    
        <div class="request-actions">
            <a [routerLink]="['request', request.id]">edit</a>
        </div>
    </div>
</div>