.actions {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

h3 {
    margin-bottom: 0px;
}

a.active {
    color: #673AB7;
}

.side-options {
    width: 300px;
}

.status2 {
    color: green;
}

.side-option label {
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}