<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/admin/requests/all']" queryParamsHandling="merge" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    Toate
  </a>
  <a mat-tab-link [routerLink]="['/admin/requests/unassigned']" queryParamsHandling="merge" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">
    Cereri neasignate
  </a>
  <a mat-tab-link [routerLink]="['/admin/requests/mine']" queryParamsHandling="merge" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">
    Cererile mele
  </a>
</nav>

<div class="page-content centered">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
    <div>
      <h1 fxGrow>
          <span *ngIf="flag=='unassigned'">Cereri neasignate</span>
          <span *ngIf="flag=='mine'">Cererile mele</span>
          <span *ngIf="flag=='all'">Toate cererile</span>
          <span *ngIf="requestsLoaded"> ({{ paging.total }})</span>
      </h1>
    </div>
    <div class="list-flags" fxFlex style="padding-left: 30px;">
      <span *ngIf="flag==='unassigned'">
        <app-loading-button [loading]="!requestsLoaded" btnStyle="stroked" (btnClick)="onMassAssign(25)" label="Preia 25"></app-loading-button>&nbsp;
        <app-loading-button [loading]="!requestsLoaded" btnStyle="stroked" (btnClick)="onMassAssign(25)"
          label="Preia 50"></app-loading-button>
        &nbsp;
      </span>
    </div>
    
    <app-request-filter-form></app-request-filter-form>
    <mat-paginator [showFirstLastButtons]="true" [hidePageSize]="true" (page)="onPageChange"
      [length]="paging.total" [pageSize]="paging.per_page" [pageIndex]="paging.current-1">
    </mat-paginator>
  </div>
  
  <app-loading-status [loaded]="requestsLoaded"></app-loading-status>
  
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-card *ngFor="let request of requests">
      <mat-card-title fxLayout="row" fxLayoutAlign="start start">
        <span>cererea #{{ request.id }}</span>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
          <div style="width: 300px;">
            <h3>Persoana</h3>
            <p>
              <strong>Nume: </strong>{{ request.name }}<br />
              <strong>Funcție: </strong>{{ request.job_title }}<br />
              <strong>Telefon: </strong>{{ request.phone_number }}<br />
            </p>
            <h3>Unitatea medicală</h3>
            <p>
              <strong>Nume: </strong>{{ request.medical_unit_name }}<br />
              <strong>Județ: </strong>{{ dataService.getMetadataLabel('counties', request.county_id) }}<br />
              <strong>Tip: </strong>{{ dataService.getMetadataLabel('medical_unit_types', request.medical_unit_type_id) }}
            </p>
          </div>
          <div fxFlex>
            <h3>Nevoi</h3>
            <p>{{ request.needs_text }}</p>
            <h3>Alte informații</h3>
            <p>{{ request.extra_info }}</p>
          </div>
          <div class="side-options">
            
            <div>
              <strong>Status: </strong>
              <app-loading-button [loading]="statusChanging===request.id" [matMenuTriggerFor]="statusChange" 
              [label]="dataService.getMetadataLabel('request_status_types', request.status)">
              </app-loading-button>
              <mat-menu #statusChange="matMenu" xPosition="before">
                <button (click)="onChangeRequestStatus(request.id, k.id)" *ngFor="let k of dataService.metadata['request_status_types']" mat-menu-item>{{ k.label }}</button>
              </mat-menu>
            </div>
            <div>
              <ng-container *ngIf="request.assigned_user">
                <span>Asignat: </span>
                <app-loading-button [loading]="assignChanging===request.id" (click)="onUnassign(request.id)"
                  [label]="request.assigned_user.name" icon="close" showIcon="hover"></app-loading-button>
              </ng-container>
              <app-loading-button [loading]="assignChanging===request.id" *ngIf="!request.assigned_user" btnStyle="stroked" color="primary"
                (click)="onAssign(request.id)" label="Preia cererea"></app-loading-button>
            </div>

            <div class="actions">
              <a mat-stroked-button color="primary" [routerLink]="['/', 'admin', 'request', request.id]">edit</a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>
