<div class="page-content centered">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
    <h1 fxGrow>
        <span *ngIf="filters.flag=='unassigned'">Cereri neasignate</span>
        <span *ngIf="filters.flag=='mine'">Cererile mele</span>
        <span *ngIf="filters.flag!='mine' && filters.flag!='unassigned'">Listă cereri</span>
    </h1>
    <div class="list-flags" style="width: 600px; text-align: right;">

      <span *ngIf="filters.flag==='unassigned'">
        <button mat-stroked-button (click)="onMassAssign(10)">Preia 10</button>&nbsp;
        <button mat-stroked-button (click)="onMassAssign(25)">Preia 25</button>&nbsp;
        <button mat-stroked-button (click)="onMassAssign(50)">Preia 50</button>&nbsp;
      </span>
      <a [ngClass]="{'active': filters.flag==='all'}" mat-button [routerLink]="['/admin/requests/all']"
        queryParamsHandling="merge">Toate</a>
      <a [ngClass]="{'active': filters.flag==='unassigned'}" mat-button [routerLink]="['/admin/requests/unassigned']"
        queryParamsHandling="merge">Cereri neasignate</a>
      <a [ngClass]="{'active': filters.flag==='mine'}" mat-button [routerLink]="['/admin/requests/mine']"
        queryParamsHandling="merge">Cererile mele</a>
    </div>
  </div>
  
  
  <app-loading-status [loaded]="requestsLoaded"></app-loading-status>
  
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-card *ngFor="let request of requests">
      <mat-card-title fxLayout="row" fxLayoutAlign="start start">
        <span>cererea #{{ request.id }}</span>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
          <div style="width: 300px;">
            <h3>Persoana</h3>
            <p>
              <strong>Nume: </strong>{{ request.name }}<br />
              <strong>Funcție: </strong>{{ request.job_title }}<br />
              <strong>Telefon: </strong>{{ request.phone_number }}<br />
            </p>
            <h3>Unitatea medicală</h3>
            <p>
              <strong>Nume: </strong>{{ request.medical_unit_name }}<br />
              <strong>Tip:
              </strong>{{ dataService.getMetadataLabel('medical_unit_types', request.medical_unit_type_id) }}<br />
            </p>
          </div>
          <div style="flex-grow: 1;">
            <h3>Nevoi</h3>
            <p></p>
            <h3>Alte informații</h3>
            <p>{{ request.extra_info }}</p>
          </div>
          <div style="width: 200px;">
            <h3>Voluntar</h3>
            <p class="assigned-user" *ngIf="request.assigned_user">
              <strong>Asignat: </strong>{{ request.assigned_user.name }} 
              <a class="unassign" (click)="onUnassign(request.id)"><mat-icon style="font-size: 12px">close</mat-icon></a>
            </p>
            <button *ngIf="!request.assigned_user" mat-stroked-button color="primary"
              (click)="onAssign(request.id)">Preia
              cererea</button>

            <div class="actions">
              <a mat-stroked-button color="primary" [routerLink]="['/', 'admin', 'request', request.id]">edit</a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
</div>
