<mat-autocomplete panelWidth="400px" autoActiveFirstOption #needTypesAutocomplete="matAutocomplete"
  (optionSelected)="needTypeSelected($event)" [displayWith]="needsAutocompleteDisplay">
  <ng-container *ngFor="let needType of filteredNeedTypes | async">
    <mat-option *ngIf="needType.id!==0" [value]="needType" title="{{ needType.label }}">{{ needType.label }}
    </mat-option>
    <mat-option *ngIf="needType.id===0" [value]="needType">Adaugă <strong>{{ needType.label }}</strong></mat-option>
  </ng-container>
</mat-autocomplete>

<form [formGroup]="needsForm">
  <div formArrayName="needs">
    <div *ngFor="let n of getAsFormArray('needs').controls; let i=index" [formGroupName]="i">
      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
        <div fxFlex>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Produs</mat-label>
            <input (focus)="setCurrentNeed(i)" matInput formControlName="need_type" type="text" class="form-control"
              class="form-control-plaintext" [matAutocomplete]="needTypesAutocomplete">
          </mat-form-field>
        </div>
        <div fxFlex="60px">
          <mat-form-field appearance="outline" style="width: 60px;">
            <mat-label>Cantitate</mat-label>
            <input matInput formControlName="quantity" type="text" class="form-control" class="form-control-plaintext">
          </mat-form-field>
        </div>
        <div fxFlex="nogrow" class="deleteItem">
          <button mat-icon-button type="button" (click)="onRemoveNeed('add',i)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <button mat-button (click)="onAddNeed('add')"><mat-icon>library_add</mat-icon> Adaugă produs/serviciu</button>
    </div>
  </div>
</form>
