
    <mat-dialog-content>
        <h1>Adaugă {{ metadata_type }}</h1>

        <mat-form-field style="width: 100%;" appearance="outline">
          <input [(ngModel)]="newMetadataTypeLabel" matInput type="text" class="form-control"
            aria-describedby="label" placeholder="" class="form-control-plaintext">
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onClose()">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSave()">Salvează</button>
    </mat-dialog-actions>