
.color-selector {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.priority-1 {
  background: #ff4a4a;
}

.priority-2 {
  background:#4ab54a;
}

.priority-3 {
  background: #5bbddc;
}

.priority-4 {
  background: #fff56a;
}

.priority-0 {
  background: #FFF;
}

:host ::ng-deep .drop-list {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.row.header {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  font-weight: bold;
  background: rgba(0,0,0,0.04);
}
.row.header > div > mat-icon {
    height: 16px !important;
    width: 16px !important;
    font-size: 16px !important;
    line-height: 16px !important;
    vertical-align: middle;
}

:host ::ng-deep .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

:host ::ng-deep .item.selected .row {
  background-color: #929292 !important;
}

.row>div {
  overflow: hidden;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.column-id {
    text-align: right;
    width: 30px;
}
.column-medical-unit {
  width: 200px;
}
.column-county {
  width: 100px;
}
.column-needs {
  flex-grow: 1;
}
.column-name {
    width: 150px;
}
.column-actions {
    width: 100px;
}

 .action-label {
     font-weight: bold;
     line-height: 15px;
 }

 .actions-inactive {
     opacity: 0.2;
 }

:host ::ng-deep .item-dragging.item.selected:not(.cdk-drag-placeholder) .row {
  opacity: 0.9;
  box-shadow: 3px 6px 3px -1px rgba(0, 0, 0, 0.48);
}

.select-item-drag-preview {
  background-color: rgba(204, 0, 102, 0);
  font-weight: bold;
  border: 2px solid #666;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

:host ::ng-deep .cdk-drag-preview {
  box-shadow: 3px 6px 3px -1px rgba(0, 0, 0, 0.48);
}
:host ::ng-deep .cdk-drag-placeholder {
    border: 1px solid black;
}

.secondary-row {
    color: rgba(0,0,0,0.4);
    font-size: 0.9em;
}