<ng-container *ngIf="!planLoaded">
  <app-loading-status *ngIf="!planLoaded" [loaded]="planLoaded"></app-loading-status>
</ng-container>

<ng-container *ngIf="planLoaded">

  <div fxLayout="row" fxLayoutAlign="start stretch">
    <div class="vertical-section" fxFlex="400px" style="padding: 20px;">
      <div class="horizontal-section">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">
          <h2>Detalii plan</h2>
          <div>
            <button mat-button (click)="onOpenPlanDetailsDialog()">Editează</button>
          </div>
        </div>
        <p><strong>Sponsor produse: </strong> {{ editForm.get('main_sponsor')?.value?.name }} </p>
        <p><strong>Sponsor livrare: </strong> {{ editForm.get('delivery_sponsor')?.value?.name }} </p>
        <p>
          <strong>Expeditor: </strong>{{ editForm.get('sender_name')?.value }}<br />
          <strong>Persoană contact: </strong>{{ editForm.get('sender_contact_name')?.value }}<br />
          <strong>Telefon: </strong>{{ editForm.get('sender_phone_number')?.value }}<br />
          <strong>Adresă: </strong>{{ editForm.get('sender_address')?.value }}<br />
          <strong>Oraș: </strong>{{ editForm.get('sender_city_name')?.value }}<br />
          <strong>Județ: </strong>{{ getLabel('counties', editForm.get('sender_county_id')?.value) }}<br />
        </p>
      </div>

      <div class="horizontal-section">
        <!-- <app-needs-shortlist [needs]="deliveryNeeds$.value"></app-needs-shortlist> -->
        <div class="horizontal-section">
          <h2>Ce livrezi?</h2>
          <app-loading-status *ngIf="!planLoaded" [loaded]="planLoaded"></app-loading-status>
          <app-needs-editor *ngIf="planLoaded" #deliveryNeedsEditor [needs]="deliveryNeeds$.value"
            (needsUpdated)="deliveryNeedsUpdated($event)"></app-needs-editor>
        </div>
      </div>
      <div class="horizontal-section">
        <h2>Total cereri din plan ({{ planSummary?.count || 0 }})</h2>
        <div class="plan-summary">
          <app-needs-shortlist [showDeliveryQuantities]="true" [needs]="planSummary?.needs || []"
            [showOnlyTypes]="relevantNeedTypes">
          </app-needs-shortlist>
        </div>
      </div>
      <div class="horizontal-section">
        <h2>Total cereri selectate ({{ planSummarySelected?.count || 0 }})</h2>
        <div class="plan-summary">
          <app-needs-shortlist [showDeliveryQuantities]="true" [needs]="planSummarySelected?.needs || []"
            [showOnlyTypes]="relevantNeedTypes">
          </app-needs-shortlist>
        </div>
      </div>
      <div class="horizontal-section">
        <app-loading-button [btnDisabled]="!planDirty" [loading]=" planIsSaving" label="Salvează planul" btnStyle="flat"
          color="primary" (btnClick)="onSave()"></app-loading-button>
      </div>
    </div>

    <!-- List of requests part of this delivery plan -->
    <div class="vertical-section" fxFlex style="padding: 20px;">

      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <h1>Cereri planificate pentru livrare</h1>
        <div>
          <button mat-stroked-button color="primary" (click)="onOpenSearchDialog()">
            <mat-icon>search</mat-icon>
            Adaugă cereri la plan
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="40px" style="margin-bottom: 20px;">

        <div>
          <mat-form-field>
            <mat-label>Sortează după</mat-label>
            <mat-select multiple [formControl]="sortControl" placeholder="Adaugă sortare"
              (openedChange)="sortPlan($event)" (selectionChange)="onSortChange($event)">
              <mat-option *ngFor="let so of sortOptions" [value]="so">
                <span *ngIf="so.position">({{ so.position }}) </span>
                <mat-icon *ngIf="so.direction==='asc'">arrow_upward</mat-icon>
                <mat-icon *ngIf="so.direction==='desc'">arrow_downward</mat-icon>
                {{ so.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          Selectează:
          <button mat-button (click)="selectAll($event)">toate</button> |
          <button mat-button (click)="selectNone($event)">nici una</button>
        </div>

        <div fxFlex fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="end center"
          [ngClass]="{ 'actions-inactive': planList.selections.length===0 }">
          <div class="action-label">
            <strong>Cereri<br />selectate:</strong> {{ planList.selections.length }}
          </div>
          <div>
            <button mat-stroked-button color="primary" (click)="onRemoveFromPlan()">Scoate din plan</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="action-label">Alege<br />prioritate:</div>
            <div (click)="setPriorityGroup(1)" class="color-selector priority-1">1</div>
            <div (click)="setPriorityGroup(2)" class="color-selector priority-2">2</div>
            <div (click)="setPriorityGroup(3)" class="color-selector priority-3">3</div>
            <div (click)="setPriorityGroup(4)" class="color-selector priority-4">4</div>
            <div (click)="setPriorityGroup(100)" class="color-selector priority-0">-</div>
          </div>
        </div>
      </div>

      <div class="row header" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0px">
        <div class="column column-id">ID</div>
        <div class="column column-needs">
          <div class="needs-item">
            <div class="label">
              <div>Nevoi</div>
            </div>
            <div class="spacer"></div>
            <div class="fixed">
              <div class="spacer"></div>
              <div class="number">cerute</div>
            </div>
            <div class="fixed">
              <div class="spacer"></div>
              <div class="number">
                <mat-icon>local_shipping</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="column column-medical-unit">Unitate medicală</div>
        <div class="column column-county">Județ</div>
        <div class="column column-name">Solicitant</div>
        <div class="column column-actions">Acțiuni</div>
      </div>
      <app-multi-drag-drop style="width: 100%;" #planList [items]="planRequestsList"
        (itemsRemoved)="itemsRemoved($event, 1)" (itemsAdded)="itemsAdded($event, 1)"
        (itemsUpdated)="itemsUpdated($event, 1)" (selectionChanged)="selectionChanged($event, 1)">
        <ng-template let-item let-index>
          <div class="row priority-{{ item.priority_group || 0 }}" fxLayout="row" fxLayoutAlign="start stretch"
            fxLayoutGap="0px">
            <div class="column column-id">{{ item.id }}</div>
            <div class="column column-needs">
              <app-needs-shortlist [needs]="item.delivery.needs" [showOnlyTypes]="relevantNeedTypes"
                [showDeliveryQuantities]="true"></app-needs-shortlist>
            </div>
            <div class="column column-medical-unit">
              <div class="primary-row">{{ item.medical_unit?.name || item.medical_unit_name }}</div>
              <div class="secondary-row">{{ getLabel('medical_unit_types', item.medical_unit_type_id) }}</div>
            </div>
            <div class="column column-county">{{ getLabel('counties', item.county_id) }}</div>

            <div class="column column-name">
              <div class="primary-row">{{ item.name }}</div>
              <div class="secondary-row">{{ item.phone_number }}</div>
            </div>
            <div class="column column-actions">
              <button matTooltip="Editează cererea" mat-icon-button (click)="onEditRequest($event, item, index)">
                <mat-icon>edit</mat-icon>
              </button>
              <button matTooltip="Editează cantitățile de livrarea" mat-icon-button
                (click)="onEditRequestDelivery($event, item, index)">
                <mat-icon>local_shipping</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </app-multi-drag-drop>

    </div>
  </div>
</ng-container>
