.page-container {
    display: flex;
    flex-direction: row;
}

h1, .tab-content {
    padding: 20px;
}

h1 {margin-bottom: 0;}

.edit-side {
    flex-grow: 1;
}

.preview-side {
    width: 300px;
    padding: 20px;
    border-left: 1px solid #DDD;
}

.item .label, .item-list .label {
    font-weight: bold;
    margin-top: 10px;
}
.item .value {
    font-weight: normal;
}

.preview-need {
    display: flex;
    flex-direction: row;
}
.preview-need .dots {
    flex-grow: 1;
    border-bottom: 1px dotted black;
}