.page-container {
    display: flex;
    flex-direction: row;
}

h1, .tab-content {
    padding: 20px;
}

h1 {margin-bottom: 0;}

.edit-side {
    flex-grow: 1;
}

.preview-side {
    width: 300px;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #DDD;
}

.item .label, .item-list .label {
    font-weight: bold;
    margin-top: 10px;
}
.item .label > a {
    font-weight: normal;
    color: #673ab7;
    cursor: pointer;
}
.item .value {
    font-weight: normal;
}

.script {
    padding: 0 0 0 20px;
}
.script > li {
    padding-bottom: 10px;
}

.script-needs {
    color: #F44336;
    padding: 5px 0px;
}

.edit-tabs {
    position: sticky;
    top: 0;
}

mat-expansion-panel {
    margin-bottom: 10px;
}